In [1]:
from datasets import load_dataset
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter
import random

random.seed(0)

C:\Users\yelzha\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
dataset = load_dataset("gsm8k", "main")
train_data = dataset["train"]

df = pd.DataFrame(train_data)
df

,question,answer
0,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...
1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...
2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<..."
3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....
4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...
...,...,...
7468,"Very early this morning, Elise left home in a ...","For the distance she traveled, Elise paid 23 -..."
7469,Josh is saving up for a box of cookies. To rai...,He makes $.5 profit on each bracelet because 1...
7470,Colin can skip at six times the speed that Bra...,Tony can skip at twice the speed that Bruce ca...
7471,"Janet, a third grade teacher, is picking up th...",Janet needs 35 lunches for the kids + 5 for th...
7472,"At 30, Anika is 4/3 the age of Maddie. What wo...","If Anika is 30 now, in 15 years, she'll be 30+..."

In [ ]:
# AEDA method
def aeda(sentence, punctuations=None, ratio=0.3):
    if punctuations is None:
        punctuations = ['.', ',', '!', '?', ';', ':']
    words = sentence.split()
    n_insertions = max(1, int(len(words) * ratio))

    for _ in range(n_insertions):
        insert_punc = random.choice(punctuations)
        insert_pos = random.randint(0, len(words))
        words.insert(insert_pos, insert_punc)

    return ' '.join(words)

# Apply AEDA to each sentence
df['aeda_01'] = df['question'].apply(lambda x: aeda(x, ratio=0.1))
df["aeda_01_length"] = df["aeda_01"].apply(lambda x: len(x.split()))

df['aeda_03'] = df['question'].apply(lambda x: aeda(x, ratio=0.3))
df["aeda_03_length"] = df["aeda_03"].apply(lambda x: len(x.split()))

df['aeda_05'] = df['question'].apply(lambda x: aeda(x, ratio=0.5))
df["aeda_05_length"] = df["aeda_05"].apply(lambda x: len(x.split()))

df[['question', 'aeda_01', 'aeda_03', 'aeda_05']]